#{extends 'main.html' /}
#{set title:'submission.html' /}
#{set 'moreStyles'}
        #{stylesheet 'submitArticle.css' /}
#{/set}
#{set 'moreScripts'}
    #{script 'ckeditor/ckeditor.js'/}
    #{script 'submitArticle.js'/}
#{/set}

<div id="form">

	#{form @SubmitArticle.submit() , enctype:'multipart/form-data', class:'submitForm' }
		<div class="error" id="mainError">
			Please fix the errors on this page.
		</div>
		<div class="spacingSmall"></div>
		<input name="subID" type="hidden" value="${subID}"/> 
		<input type="hidden" id="numberAuthors" value="1">
	    <div class="formHeader">
	    	<div class="bold">
	    		Author Details
	    	</div>
	    	<div class="spacingMedium">
	    	</div>
	    	<div>
		    	<span class="left">Main Contact</span>
		    	<span class="right">Authors</span>
	    	</div>
	    </div>
	    
	    <div class="spacingSmall"></div>
		<div id="authors">
		    <div class="formHeader" id="author1">
		    	<span class="left">
		    		<input type="radio" name="author" value="1" checked>
		    	</span>
		    	<span class="right">
		    			<input type="hidden" name="authNumber" value="1">
		    			<input type="text" name="firstName" value="First Name">
		    			<input type="text" name="lastName" value="Last Name">
		    			<input type="text" name="email" value="Email Address">
		    			<input type="text" name="affiliation" value="Affiliation">
		    	</span>
		    </div>
		    <div class="spacingMedium" id="spacing1"></div>
	    </div>
	    <div class="spacingSmall"></div>
	    <div class="error" id="authorError">
	    	
	    </div>
	    <div class="spacingMedium"></div>
	    <div id="addButton">
	    	<input type="button" id="addAuthor" class="button blue" value="Add Author">
	    </div>
	    
	    <div class="spacingLarge"></div>
	    <div id="form">
	    	<div class="bold">Article Details</div>
	    	<div class="spacingSmall"></div>
	    	<div class="formHeader">
	    		<span class="left">
	    			Article Title:
	    		</span>
	    		<span class="right">
	    			<input type="text" name="title"><span class="error" id="titleError"></span>
	    		</span>
	    	</div>
	    	
	    	
	    	<div class="spacingSmall"></div>
	    	
	    	
	    	<div class="formHeader">
	    		<span class="left">
	    			Keywords:
	    		</span>
	    		<span class="right">
	    			<input type="text" name="keywords"><span class="error" id="keywordError"></span>
	    		</span>
	    	</div>
	    	<div class="spacingSmall"></div>
	    	<div class="formHeader">
	    		<span class="left">
	    			Abstract:
	    		</span>
	    		<span class="right">
	    		</span>
	    	</div>
	    	<div class="spacingMedium"></div>
	    	<textarea rows="30" cols="90" name="summary" id="editor_kama" class="editor">
	    	</textarea>
	    	<script type="text/javascript">
			//<![CDATA[

				CKEDITOR.replace( 'editor_kama',
					{
						skin : 'kama',
						toolbar: 'Journal'
					});

			//]]>
			</script>
			<div class="error" id="summaryError">
			</div>
			<div class="spacingSmall">
			</div>
			<input type="file" style="width:300px" class="button" id="file" name="articlePdf">
			<div id="spacingMedium"></div>
			<span class="error" id="fileError"></span>
			<div class="spacingSmall"></div>
   			<input type="submit" name="submit" class="button blue" value="Submit">
			
	    </div>
	#{/form}
</div>
<div class="spacingSmall"></div>
