#{extends 'main.html' /}
#{set title:'submission.html' /}
#{set 'moreStyles'}
        #{stylesheet 'submitArticle.css' /}
#{/set}

<input type="hidden" id="numberAuthors" value="1">
<div id="form">
	<form action="@{SubmitArticle.submit()}" class="submitForm" method="POST">
	    <div class="formHeader">
	    	<span class="left">Main Contact</span>
	    	<span class="right">Authors</span>
	    </div>
	    
	    <div class="spacingSmall"></div>
		<div id="authors">
		    <div class="formHeader" id="author1">
		    	<span class="left">
		    		<input type="radio" name="author1" checked>
		    	</span>
		    	<span class="right">
		    		<span>
		    			<input type="text" id="firstName1" name="firstName1" value="First Name">
		    		</span>
		    		<span>
		    			<input type="text" id="lastName1" name="lastName1" value="Last Name">
		    		</span>
		    		<span>
		    			<input type="text" id="email1" name="email1" value="Email Address">
		    		</span>
		    		<span>
		    			<input type="button" class="button blue" name="remove1" id="remove1" value="Remove">
		    		</span>
		    	</span>
		    </div>
	    </div>
	    <div class="spacingMedium"></div>
	    <div id="addButton">
	    	<input type="button" id="addAuthor" class="button blue" value="Add Author">
	    </div>
	</form>
</div>
<div class="spacingSmall"></div>
