*.class
*.properties
/build
/nbproject
/manifest.mf
/.classpath
/.project
/build.xml
/.settings
/eclipse
/tmp
/data

/test-result/BasicTest.class.passed.html
/test-result/TEST-ApplicationTest.xml
/test-result/TEST-BasicTest.xml
/test-result/application.log

/test-result
