#{extends 'main.html' /}
#{set title:'Home' /}

<div id="trace">Home :: Page</div>
<div class="line"></div>
<div id="maincontent">
	<h2>Editor Control Panel</h2>
	<div id="table">
		<table>
			<tr class="title">
				<td>Editor Statistics</td>
				<td></td>
			</tr>
			<tr>
				<td>Journal Title</td>
				<td>The Journal</td>
			</tr>
			<tr>
				<td>Total Articles</td>
				<td>Row 1</td>
			</tr>
			<tr>
				<td>Total Users</td>
				<td>Row 1</td>
			</tr>
			<tr>
				<td>Total Authors / Reviewers</td>
				<td>Row 1</td>
			</tr>
			<tr>
				<td>Total Editors</td>
				<td>Row 1</td>
			</tr>
			<tr>
				<td>Row 4</td>
				<td>Row 1</td>
			</tr>
		</table>
	</div>
</div>