#{extends 'main.html' /}
#{set title:'Home' /}

<div id="trace">Home :: Page</div>
<div class="line"></div>
<div id="maincontent">
	<h2>Editor Control Panel</h2>
	<div id="table">
		<table>
			<tr class="title">
				<td>Editor Statistics</td>
				<td></td>
			</tr>
			<tr>
				<td><a href="/Admin/unpublishedarticles">Unpublished Articles</a></td>
				<td>${publishedArticles}</td>
			</tr>
			<tr>
				<td><a href="/Admin/publishedarticles">Published Articles</a></td>
				<td>${unpublishedArticles}</td>
			</tr>
			<tr>
				<td><a href="/Admin/users">Total Users</a></td>
				<td>${numberUsers}</td>
			</tr>
			<tr>
				<td>Total Authors / Reviewers</td>
				<td>${totalAuthors}</td>
			</tr>
			<tr>
				<td>Total Editors</td>
				<td>${totalEditors}</td>
			</tr>
		</table>
	</div>
</div>