#{extends 'main.html' /}
#{set title:'Home' /}

<div id="trace">Home :: Page</div>
<div class="line"></div>
<div id="maincontent">
	<h2>Editor Control Panel</h2>
	<div id="table">
		<table>
			<tr class="title">
				<td>First Name</td>
				<td>Last Name</td>
				<td>Affiliation</td>
				<td>User role</td>
				<td>Actions</td>
			</tr>
			#{list items:userslist, as:'cuser'}
			<tr>
				<td>${cuser.firstName}</td>
				<td>${cuser.lastName}</td>
				<td>${cuser.affiliation}</td>
				<td>${cuser.role.name}</td>
				<td>
					#{if cuser.role.name == models.UserRole.AUTHOR_REVIEWER}
						<a class="blue button" href="users?act=e&id=${cuser.id}">+ Editor</a>
					#{/if}
					#{else}
						#{if ( id != cuser.id.toString() )}
							<a class="blue button" href="users?act=a&id=${cuser.id}">- Editor</a>
						#{/if}
					#{/else}
				</td>
			</tr>
			#{/list}
		</table>
	</div>
</div>