@CHARSET "ISO-8859-1";

.submitForm
{
	width:980px !important;
	padding:10px;
}

.formHeader
{
	padding: 10px;
}

.formHeader .left
{
	float:left;
	width:150px !important;
}

.formHeader .right
{
	position:absolute;
	float:right;
	margin-left:20px;
}

.spacingSmall
{
	clear:both;
	height:5px;
}
.spacingMedium
{
	clear:both;
	height:10px;
}

.spacingLarge
{
	clear:both;
	height:15px;
}

.bold
{
	font-weight: bold;
}

.error
{
	display:none;
	font-weight:bolder;
	color: #F00E0E;
}