#{extends 'main.html' /}
#{set title:'View submission' /}
<center><h3>Submission history</h3></center>
#{list items:articles, as:'article'}
<div>
<table>
<tr>
	<td style="width: 200px">Title:</td><td>${article.title}</td>
</tr>
<tr>
	<td>Keywords:</td>
	<td>
	#{list items:article.keywords, as:'keyword'}
	${keyword.word};&nbsp;
	#{/list}
	</td>
</tr>
<tr>
	<td>Authors:</td>
	<td>
	#{list items:article.authorDetails, as:'author'}
	${author.firstName}&nbsp;${author.lastName} (${author.affiliation}) e-Mail: ${author.email}<br/>
	#{/list}
	</td>
</tr>
<tr>
	<td>Abstract:</td>
	<td>${article.summary}</td>
</tr>
<tr>
	<td>Actions:</td>
	<td>
		#{if (article.journalNumber!=null)||(user.id==article.submission.author.id)}
		<a href="@{ViewSubmission.download(article.id)}" class="blue button">Download</a><br />
		#{/if}
		#{else}		
		%{ if (canDownloadForReview) { }%
		<a href="@{ViewSubmission.downloadForReview(article.id)}" class="blue button">Download for review</a><br />				
		   %{ if ((!canSelectForReview)&&((!canCancelReview))&&(article.id==articles.get(articles.size()-1).id)) { }%
			<a href="@{ReviewArticle.start(article.id)}" class="blue button">Write a review</a><br />
		%{ 	} 
		   }  }%
		#{/else}
	</td>
</tr>
</table>
<center>
	%{ if (canSelectForReview) { }%
	<a href="@{ViewSubmission.selectForReview(articles.get(articles.size()-1).submission.id)}" class="blue button">Select for review</a><br />		
	%{ } }%
	%{ if (canCancelReview) { }%
	<a href="@{ViewSubmission.cancelReview(articles.get(articles.size()-1).submission.id)}" class="blue button">Cancel review</a><br />		
	%{ } }%
</center>
</div>
#{/list}