#{extends 'main.html' /}
#{set title:'View submission' /}
<center><h3>Submission history</h3></center>
#{list items:articles, as:'article'}
<div>
<table>
<tr>
	<td style="width: 200px">Title:</td><td>${article.title}</td>
</tr>
<tr>
	<td>Keywords:</td>
	<td>
	#{list items:article.keywords, as:'keyword'}
	${keyword.word};&nbsp;
	#{/list}
	</td>
</tr>
<tr>
	<td>Authors:</td>
	<td>
	#{list items:article.authors, as:'author'}
	${author.firstName}&nbsp;${author.lastName} (${author.affiliation}) e-Mail: ${author.email}<br/>
	#{/list}
	</td>
</tr>
<tr>
	<td>Abstract:</td>
	<td>${article.summary}</td>
</tr>
<tr>
	<td>Actions:</td>
	<td>
		#{if (article.journalNumber!=null)||(user.id==article.submission.author.id)}
		<a href="@{ViewSubmission.download(article.id)}" class="blue button">Download</a><br />
		#{/if}
		#{else}		
		%{ if (canDownloadForReview||isEditor) { }%
		<a href="@{ViewSubmission.downloadForReview(article.id)}" class="blue button">Download for review</a><br />				
		   %{ if (canWriteReview&&(article.id==articles.get(articles.size()-1).id)) { }%
			<a href="@{ReviewArticle.start(article.id)}" class="blue button">Write a review</a><br />
		%{ 	} 
		   }  }%
		#{/else}
	</td>
</tr>
</table>
<center><h4>Reviews</h4></center><br />
#{list items:reviewMap.get(article.id), as:'review'}
<table>
	<tr>
		<td>Expertise level</td>
		<td>${review.expertiseLevel}</td>
	</tr>
	<tr>
		<td>Mark</td>
		<td>${review.mark.name}</td>
	</tr>
	<tr>
		<td>Review status</td>
		<td>
		#{if (!review.locked)&&(!review.rejected)}
		Not locked
		#{/if}
		#{if (review.locked)&&(!review.rejected)}
		Locked
		#{/if}
		#{if review.rejected}
		Review rejected by editor
		#{/if}
		</td>
	</tr>
	<tr>
		<td>Time submitted</td>
		<td>${review.dateSubmitted}</td>
	</tr>
	<tr>
		<td>Content summary</td>
		<td>${review.contentSummary}</td>
	</tr>
	<tr>
		<td>Good points</td>
		<td>${review.goodPoints}</td>
	</tr>
	<tr>
		<td>Bad points</td>
		<td>${review.badPoints}</td>
	</tr>
	<tr>
		<td>Detailed error list</td>
		<td>${review.detailedErrorList}</td>
	</tr>
	<tr>
		<td>Detailed error list</td>
		<td>${review.detailedErrorList}</td>
	</tr>
	#{if chatMap.get(review.id).showAuthorConv}
	<tr>
		<td>Communication with author:</td>
		<td>#{chat.renderConversation convID:review.authorConversation.id, readOnly:chatMap.get(review.id).authorRO /}</td>
	</tr>
	#{/if}
	#{if chatMap.get(review.id).showEditorConv}
	<tr>
		<td>Communication with editor:</td>
		<td>#{chat.renderConversation convID:review.editorConversation.id, readOnly:chatMap.get(review.id).editorRO /}</td>
	</tr>
	#{/if}
	#{if canReject}
	<tr>
		<td>Actions:</td>
		<td><a class="blue button" href="@{ViewSubmission.reject(review.id)}">Reject the review</a></td>
	</tr>
	#{/if}
</table>
#{/list}
<center>
	%{ if (canSelectForReview) { }%
	<a href="@{ViewSubmission.selectForReview(articles.get(articles.size()-1).submission.id)}" class="blue button">Select for review</a><br />		
	%{ } }%
	%{ if (canCancelReview) { }%
	<a href="@{ViewSubmission.cancelReview(articles.get(articles.size()-1).submission.id)}" class="blue button">Cancel review</a><br />		
	%{ } }%
	%{if ((!isPublished)&&(article.submission.author.id==user.id)) { }%
	<a href="@{SubmitArticle.index(subID)}">Submit new version</a>
	%{}}%
</center>
</div>
#{/list}