<div class="browseContent">
	<span class="volumes">
	<div class="browseHeader">
		Journal Volumes
	</div>
		<ul>
		    #{list items:volumes, as:'volume' }
		        <li>
		        	<div class="title">${volume.title}</div>
		        	<div class="year">${volume.publishYear}</div> 
		        	<input type="button" class="button blue volume" id="${volume.id}" value="View Journals" onClick='showNumbers(this);'></li>
		    #{/list}
		</ul>
	</span>
	<span class="volumeData">
	</span>
	<span class="articleData">
	</span>
</div>