#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreStyles'}
        #{stylesheet 'home.css' /}
#{/set}
#{set 'moreScripts'}
	<script type="text/javascript">
	    $('document').ready(function(){
		$('.volumes').slideDown("slow");
		
		$('.button').click(function(){
			var string = $(this).attr("id");
			var type = string[0];
			var id = string.substr(1);
			$('.volumeData').slideUp("slow");
			if(type == "n")
			{
				var journalNumber = #{jsAction @getJournalNumbers(':volume_id') /}
				$.post(journalNumber({volume_id: id}), function(data){
					$('.volumeData').html(data);
					$('.volumeData').slideDown("slow");
				});
			}
		});
	});
	</script>
#{/set}
<div class="content">
	<span class="volumes">
	<div class="browseHeader">
		Journal Volumes
	</div>
		<ul>
		    #{list items:volumes, as:'volume' }
		        <li>
		        	<div class="title">${volume.title}</div>
		        	<div class="year">${volume.publishYear}</div> 
		        	<input type="button" class="button blue volume" id="n${volume.id}" value="View Volume" onClick="showNumbers();"></li>
		    #{/list}
		</ul>
	</span>
	<span class="volumeData">
	</span>
</div>