#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreStyles'}
        #{stylesheet 'home.css' /}
#{/set}
#{set 'moreScripts'}
	<script type="text/javascript">
	    $('document').ready(function(){
		$('.volumes').slideDown("slow");
		
		$('.button').click(function(){
			var volumeId = $(this).attr("id");
			$('.volumeData').slideUp("slow");
			var journalNumber = #{jsAction @getJournalNumbers(':volume_id') /}
			$.post(journalNumber({volume_id: volumeId}), function(data){
				$('.volumeData').html(data);
				$('.volumeData').slideDown("slow");
			});
		});
	});
	</script>
#{/set}
<div class="content">
	<span class="volumes">
	<div class="browseHeader">
		Journal Volumes
	</div>
		<ul>
		    #{list items:volumes, as:'volume' }
		        <li>
		        	<div class="title">${volume.title}</div>
		        	<div class="year">${volume.publishYear}</div> 
		        	<input type="button" class="button blue volume" id="${volume.id}" value="View Volume"></li>
		    #{/list}
		</ul>
	</span>
	<span class="volumeData">
	</span>
</div>