<script type="text/javascript">
	function browse()
	{
		$('.browser').slideDown("slow");
		var journalNumber = #{jsAction @Application.getJournalVolumes() /}
		$.post(journalNumber(), function(data){
			$('.browser').html(data);
			$('.browser').slideDown("slow");
		});
	}
</script>
<li class="roundtop"><a href="#" onClick="javascript:browse();">Browse</a></li>
<li class="roundtop"><a href="/SubmitArticle/index">Submit Article</a></li>
#{secure.check 'author/reviewer'}
	<li class="roundtop"><a href="#">Review Article</a></li>
#{/secure.check}
#{secure.check 'editor'}
	<li class="roundtop"><a href="/Admin/index">Editor Panel</a></li>
#{/secure.check}
<script type="text/javascript">
    $('document').ready(function(){
	$('.volumes').slideDown("slow");
	
	$('.button').click(function(){
		var string = $(this).attr("id");
		var type = string[0];
		var id = string.substr(1);
		$('.volumeData').slideUp("slow");
		if(type == "n")
		{
			var journalNumber = #{jsAction @Application.getJournalNumbers(':volume_id') /}
			$.post(journalNumber({volume_id: id}), function(data){
				$('.volumeData').html(data);
				$('.volumeData').slideDown("slow");
			});
		}
	});
});
</script>