	<div id="menu">
	#{secure.check 'editor'}
		<ul>
			<li class="title"><a href="#"> Admin Quick Links</a></li>
			<li><a href="/Admin/users">User Management</a></li>
			<li><a href="/Admin/volumes">Manage Volumes</a></li>
			<li><a href="/Admin/numbers">Manage Numbers</a></li>
			<li><a href="/Admin/unpublishedarticles">Manage Unpublished Articles</a></li>
			<li><a href="/Admin/publishedarticles">Manage Published Articles</a></li>
			<li><a href="/Admin/site">Manage Site</a></li>
		</ul>
	#{/secure.check}
	#{secure.checkeq 'author/reviewer'}
		<ul>
			<li class="title"><a href="#">Quick Links</a></li>
			<li><a href="/Application/mysubmissions">My Submissions</a></li>
		</ul>
	#{/secure.checkeq}
	</div>
