<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        #{stylesheet 'main.css' /}
        #{get 'moreStyles' /}
        #{script 'jquery-1.5.2.min.js' /}
        #{script 'jquery.form.js' /}
        #{script 'init.js' /}
        #{get 'moreScripts' /}
    </head>
    <body #{get 'bodyAttr' /}>    	
    	<div id="content">
    		<div id="header"> 
				<div id="logo">The Journal</div>				
				<div id="status">
					#{include 'Application/loginStatus.html' /}			
				</div>
				<div id="topmenu"> 
					<ul> 
						#{include 'Application/menu.html' /}	
					</ul>
					<div class="browser">
					test
					</div> 
				</div> 
			</div> 
			<div class="clear"></div>
			<div id="center">
					<div id="messagestrip">${msg}</div>
					<div id="errorstrip">${err}</div>
				<div id="body">
					<div id="maincontent">
	        			#{doLayout /}
	        		</div>
	        	</div>
	        		#{include 'Application/quicklinks.html' /}	
				</div>
				<div class="clear"></div>
			<div id="footer">
				<div class="line"></div>
				Copyright "The Journal" 2011-2012
			</div>
		</div>
	</body>
</html>