<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/public/javascripts/jquery.form.js"></script>
        <script type="text/javascript">
        jQuery.ajaxSetup({
            dataFilter: function(data, dataType) {
                return data;  
            }
        });
        </script>
        #{get 'moreScripts' /}
    </head>
    <body #{get 'bodyAttr' /}>    	
    	<div id="content">
    		<div id="header"> 
				<div id="logo">The Journal</div>				
				<div id="status">
					#{include 'Application/loginStatus.html' /}			
				</div>
				<div id="topmenu"> 
					<ul> 
						#{include 'Application/menu.html' /}	
					</ul> 
				</div> 
			</div> 
			<div class="clear"></div> 
			<div id="body">
				<div id="maincontent">
        			#{doLayout /}
        		</div> 
			</div>
		</div>
    </body>
</html>
